$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font: $body-font;

$normal: 400;
$medium: 500;
$bold: 700;

$primary: #add819;
$light: #ccc;
$mid: #777;
$dark: #333;

$danger: #D33F49;
$success: $primary;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$breakpoint-sm: '(min-width: #{$sm})' !default;
$breakpoint-md: '(min-width: #{$md})' !default;
$breakpoint-lg: '(min-width: #{$lg})' !default;

$golden-rule: 1.6180339887498948420;

@import "imports/basscss";

:placeholder-shown {
  color: rgba(black,.5);
}

::selection {
  background-color: $primary;
  background-color: rgba($primary, 0.5);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body {
  font: normal normal normal 16px/#{$golden-rule} $body-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.browsehappy {
  margin: 0;
  padding: 1rem 0;
  color: white;
  text-align: center;
  background-color: $primary;
}

#main:focus {
  outline: none;
}

#skippy {
  display: block;
  padding: 1em 0;
  color: $dark;
  background-color: $primary;
  outline: 0;
  span {
    padding: .5em;
    outline: 1px dotted;
  }
}

@media #{$breakpoint-sm} {
  // styles for $breakpoint-sm
}

@media #{$breakpoint-md} {
  // styles for $breakpoint-md
}

@media #{$breakpoint-lg} {
  // styles for $breakpoint-lg
}
