@import "imports/_mixins";
@import "imports/_basscss";

$body-font: "Helvetica Neue", Helvetica, Arial, sans-serf;
$heading-font: $body-font;

@include placeholder {
  color: rgba(0,0,0,0.5);
}

body {
  font: normal normal 400 14px/1.5 $body-font;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.clearfix {
  @include clearfix();
}